<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Eye</title>
        <link href='http://fonts.googleapis.com/css?family=Nova+Round' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="styles/screen.css">
        <script src="scripts/lib/modernizr-2.6.2.min.js"></script>

        <link rel='apple-touch-icon' sizes='57x57' href='/images/favicons/apple-icon-57x57.png'>
        <link rel='apple-touch-icon' sizes='60x60' href='/images/favicons/apple-icon-60x60.png'>
        <link rel='apple-touch-icon' sizes='72x72' href='/images/favicons/apple-icon-72x72.png'>
        <link rel='apple-touch-icon' sizes='76x76' href='/images/favicons/apple-icon-76x76.png'>
        <link rel='apple-touch-icon' sizes='114x114' href='/images/favicons/apple-icon-114x114.png'>
        <link rel='apple-touch-icon' sizes='120x120' href='/images/favicons/apple-icon-120x120.png'>
        <link rel='apple-touch-icon' sizes='144x144' href='/images/favicons/apple-icon-144x144.png'>
        <link rel='apple-touch-icon' sizes='152x152' href='/images/favicons/apple-icon-152x152.png'>
        <link rel='apple-touch-icon' sizes='180x180' href='/images/favicons/apple-icon-180x180.png'>
        <link rel='icon' type='image/png', sizes='192x192', href='/images/favicons/android-icon-192x192.png'>
        <link rel='icon' type='image/png', sizes='32x32', href='/images/favicons/favicon-32x32.png'>
        <link rel='icon' type='image/png', sizes='96x96', href='/images/favicons/favicon-96x96.png'>
        <link rel='icon' type='image/png', sizes='16x16', href='/images/favicons/favicon-16x16.png'>

    </head>
    <body>
        <!--[if lt IE 7]>
        <![endif]-->
		<section id="top">
      <p>Visual element here, no text. background color dependent on content.</p>
		</section>
		<section id="info">
			<div>
        <h1>Title</h1>
        <p>Subheading </p>
        <h2 style="color:#0ff004;">Subtitle 1</h2>
        <p> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
        <h2 style="color:#6ad2ff;"> Subtitle 2</h2>
        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham. </p>
        <h2 style="color:#ff6796;">Subtitle 3</h2>
        <p>	The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
        <h2 style="color:#ffff00;">Subtitle 4</h2>
        <p> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.


      </div>
		</section>
		<!-- End Site Content -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="scripts/lib/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="scripts/oakley.js"></script>
    </body>
</html>
