<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="../js/jquery.js"></script>
  <link href="../css/bootstrap.css" rel="stylesheet">

  <link href="styles/screen.css" rel="stylesheet">

</head>
<body>


  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">

                <li>
                    <a href="#text">Home</a>
                </li>

                  <li>
                      <a href="navigation.html">All lessons</a>
                  </li>
               </ul>

          </div>
  </nav>

  
  <div class="fond">
      <div id="forb"style="float:left;" class="style_prevu_kit">
      <a id="forb" class="active" href="index.html"><</a></div>
      <div id="button"style="float:left;" class="button-flip">
      <a id="button" class="active" href="#text">  <button style="color: #fff; margin-top: 50px;" type="button" class="btn" href="#text" >More info</button>
  </a></div>
      <div id="forb" style="float:right;" class="style_prevu_kit">
      <a id="forb" class="active" href="index.html">></a></div>
  </div>
  <section id="visual">




</section>

<section id="text">

</section>

</body>
</html>
