body {
	font-family: Helvetica;
	font-size: 64px;
  font-weight: 700;
	line-height: 1.2;

	background-color: yellow;
	color: grey;
}

h1 {
	font-size: 18px;
}




section#top {
	position:			relative;
	width:				100%;
	height:				400px;
	overflow:			hidden;
	text-align:  center;

}

div#header {
  top: 20%;
  /*left: 50%;*/
	/*transform: translate(-50%, -50%);*/
	font-size: 28px;

}

div.phrase {
  top: 50%;
	padding-top: 7%;

  /*left: 50%;*/
	/*transform: translate(-50%, -50%);*/
	font-size: 28px;

}

section#info {
	position:			relative;
	background:			grey;
	width: 100%;
	height:				100%;
	color:				#fff;
	font-size:			18px;

}

section#info div {
	position:			relative;
	background:			grey;
	width: 100%;
	height:				100%;
	color:				#fff;
	padding-top:		20px;
	margin:		20px;
	margin-right:	60px;
	font-size:			18px;

}

section#info h1 {
    font-size: 2em;
    text-transform: uppercase;
    width: 80%;
    line-height: 1.8em;
    margin-left: 20px;
    padding-left: 20px;
}

section#info h2 {
    font-size: 1.5em;
    width: 80%;
    text-align: justify;
    line-height: 1.8em;
    margin-left: 20px;
    padding-left: 20px;
}



section#info p {
    font-size: 1em;
    width: 80%;
    text-align: justify;
    margin-left: 20px;
    padding-left: 20px;
}

input {
  position: absolute;
  bottom: 50px;
  left: 40%;
  width: 20%;
}
