
section#info {
	position:			relative;
	background:			grey;
	width: 100%;
	height:				100%;
	color:				#fff;
	padding-top:		20px;
	padding: 20px;
	margin:				-20px;
	font-size:			1.4em;

}
html{
    color:white;
}
h1{
    font-size: 2.5em;
    width: 80%;
    text-align: justify;
    line-height: 1.8em;
    margin: 20px;
    padding: 20px;
}
span{
    font-weight: bold;
    text-decoration: none;
}
p{background: grey;
        font-size: 2em;
    width: 80%;
    text-align: justify;
    margin: 20px;
    padding: 20px;
}
parent{
    width: 30%;
margin: 0 auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
