#info{
    background: grey;
}
html{
    color:white;
}
h1{
    font-size: 2.5em;
    width: 80%;
    text-align: justify;
    line-height: 1.8em;
    margin: 20px;
    padding: 20px;
}
span{
    font-weight: bold;
    text-decoration: none;
}
p{background: grey;
        font-size: 2em;
    width: 80%;
    text-align: justify;
    margin: 20px;
    padding: 20px;
}

