body {
	font-family: Arial;
	font-size: 16px;
	line-height: 1.5;

	background-color: #ffdc00;
}

img {
  position: fixed;
  width: 50%;
  height: 50%;
}

img.learn {
  top: 0;
  left: 0;
}

img.to {
  top: 0;
  right: 0;
}

img.code {
  bottom: 0;
  left: 0;
}

img.now {
  bottom: 0;
  right: 0;
}
