/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */


body
{	margin:				0;
	padding:			0;
	font-family: 		arial;
	font-size:			62.5%;
} 


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

section#top {
	position:			relative;
	width:				100%;
	background:			#ffffff;
	background-attachment:fixed;
/*	opacity:            0.1;
*/	height:				1100px;
	overflow:			hidden;
	margin-left: 20px;
}

	background:			transparent url(bg1.gif) no-repeat top center;


section#top #pupil1 {
	position:			absolute;
	top:				-15px;
	left:				-32px;
	width:				100%;
	background:			transparent url(eye/pupil.png) no-repeat center center;	
	height:             100%;
}


section#top #pupil2 {
	position:			absolute;
	top:				-15px;
	left:				-32px;
	width:				100%;
	background:			transparent url(eye/pupil.png) no-repeat center center;
	height:				100%;
}

section#top #cornea {
	position:			absolute;
	top:				0;
	left:				0;
	width:				100%;
	background:			transparent url(eye/cornea.png) no-repeat center center;
	height:				100%;
}

section#top #fovea {
	position:			absolute;
	top:				0;
	left:				0;
	width:				100%;
	background:			transparent url(eye/fovea.png) no-repeat center center;
	height:				100%;
}

section#top #cillary_muscle {
	position:			absolute;
	top:				0;
	left:				0;
	width:				100%;
	background:			transparent url(eye/cillary_muscle.png) no-repeat center center;
	height:				100%;
}

section#top #lens {
	position:			absolute;
	top:				0;
	left:				0;
	width:				100%;
	background:			transparent url(eye/lens.png) no-repeat center center;
	height:				100%;
}

section#top #conjunctiva {
	position:			absolute;
	top:				0;
	left:				0;
	width:				100%;
	background:			transparent url(eye/conjunctiva.png) no-repeat center center;
	height:				100%;

}

section#top #cornea_label {
	position:			absolute;
	top:				0;
	left:				0;
	width:				100%;
	height:				100%;
	opacity:            0.1;


}

section#top #pupil_label {
	position:			absolute;
	top:				0;
	left:				0;
	width:				100%;
	height:				100%;
	opacity:            0.1;


}
section#top #fovea_label {
	position:			absolute;
	top:				0;
	left:				0;
	width:				100%;
	height:				100%;
	opacity:            0.1;


}

section#top #cillary_muscle_label {
	position:			absolute;
	top:				0;
	left:				0;
	width:				100%;
	height:				100%;
	opacity:            0.1;


}

section#top #lens_label {
	position:			absolute;
	top:				0;
	left:				0;
	width:				100%;
	height:				100%;
	opacity:            0.1;


}

section#top #conjunctiva_label {
	position:			absolute;
	top:				0;
	left:				0;
	width:				100%;
	height:				100%;
	opacity:            0.1;


}

section#info {
	position:			relative;
	background:			grey;
	width: 100%;
	height:				100%;
	color:				#fff;
	padding-top:		20px;
	padding: 20px;
	margin:				-20px;
	font-size:			1.4em;

}

section#top h1 {
	font-size:			6em;
	color:              #444444;
	text-transform:		uppercase;
	width:				80%;
	text-align:			justify;
	line-height:		1.8em;
	margin:				20px;
	padding:			20px;
}



section#info h1 {
	font-size:			3em;
	text-transform:		uppercase;
	width:				80%;
	text-align:			justify;
	line-height:		1.8em;
	margin:				20px;
	padding:			20px;
}

section#info h2 {
	font-size:			2.5em;
	width:				80%;
	text-align:			justify;
	line-height:		1.8em;
	margin:				20px;
	padding:			20px;
}

section#info p {
		font-size:		2em;
	width:				80%;
	text-align:			justify;
	margin:				20px;
	padding:			20px;
}




section#info a {
    color: #b5ffda;
    text-decoration: none;
}


section#info a:hover 
{
     color:#fff; 
     text-decoration:none; 
     cursor:pointer;  
}


section#about {
	position:			relative;
	background:			#b5ffda;
	height:				300px;
	width: 100%;
	color:				#555555;
	padding-top:		0px;

}
section#about h1 {
	font-size:			4em;
	text-transform:		uppercase;
	margin:				20px;
	padding:			20px;

}

section#about h2 {
	font-size:			2.7em;
	margin:				20px;
	padding:			20px;
	margin:				20px;
	padding:			20px;

}

	section#about p {
	font-size:			1.4em;
        width:				80%;
        color: #555555;
	text-align:			justify;
	line-height:		1.8em;
		margin:				20px;
	padding:			20px;


}


section#about a {
    color: #3864ab;
    text-decoration: none;
}


section#about a:hover 
{
     color:#fff; 
     text-decoration:none; 
     cursor:pointer;  
}

