body {
  display: block;
}

#cell-clone {
  position: relative;
  height: 400px;
  width: 400px;
  left: 20px;
}

.cell {
  position: absolute;
  margin: 0 auto;
  background: transparent;
  width: 400px;
  height: 400px;
}

.cell::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid #A49480;
  animation: fadeIn 5s forwards;
  animation-delay: 3s;
  background: blue;
  background: -webkit-radial-gradient(#73a4ee75, #0742996c);
  background: radial-gradient(#73a4ee75, #0742996c), radial-gradient(transparent, rgba(0, 0, 0, 0.4));
  height: 400px;
  width: 400px;
  z-index: 1;
  opacity: 0;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.nucleus {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid rgba(219, 199, 199);
  background: rgb(187, 100, 114);
  width: 30%;
  height: 30%;
  left: 29%;
  top: 20%;
}

.nucleulus {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid rgba(255, 0, 0, .2);
  background: rgb(116, 61, 61);
  width: 25%;
  height: 25%;
  left: 61%;
  top: 26%;
}

.mitochondria {
  position: absolute;
  margin: 0 auto;
  border-radius: 100px;
  border: double white;
  background-color: orange;
  width: 35px;
  height: 70px;
}

.mitochondria svg {
  position: absolute;
  margin: 0 auto;
  transform: rotate(90deg);
  left: -5px;
}

#mito1 {
  top: 200px;
  left: 90px;
  animation: float1 35s ease-in-out infinite;
  animation-direction: alternate;
}

@keyframes float1 {
  from { transform: rotate(60deg) translateX(60px) rotate(60deg); }
  to   { transform: rotate(300deg) translateX(60px) rotate(-360deg); }
}

#mito2 {
  top: 170px;
  left: 200px;
  animation: float2 30s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

@keyframes float2 {
  from { transform: rotate(60deg) translateX(60px) rotate(40deg); }
  to   { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
}

#mito3 {
  top: 198px;
  left: 230px;
  animation: float3 38s ease-in-out infinite;
  animation-direction: alternate;
}

@keyframes float3 {
  from { transform: rotate(30deg) translateX(100px) rotate(40deg); }
  to   { transform: rotate(200deg) translateX(100px) rotate(-360deg); }
}

.mitochondria, .lysosome-box, .cytoskeleton-green svg, .cytoskeleton-blue svg, .cytoskeleton-blue2 svg, .nucleus, .golgi {
  z-index: 2;
}

.lysosome-box {
  position: absolute;
  margin: 0 auto;
  background: none;
  width: 80px;
  height: 80px;
  top: 108px;
  left: 123px;
  animation: float3 15s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

#box1 {
  top: 100px;
  left: 150px;
  animation: float2 25s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

#box2 {
  top: 250px;
  left: 150px;
  animation: float1 20s ease-in-out infinite;
  animation-direction: alternate;
}

.cytoskeleton-green svg {
  position: absolute;
  margin: 0 auto;
}

.cytogreen1 {
  transform: rotate(15deg);
}

.cytogreen3 {
  transform: rotate(30deg);
}

.cytoskeleton-blue svg {
  position: absolute;
  margin: 0 auto;
  top: 150px;
  left: 220px;
}

.cytoskeleton-blue2 svg {
  position: absolute;
  margin: 0 auto;
  top: 230px;
  left: 0px;
  transform: scale(.6);
}

.lysosome {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid rgba(255, 0, 0, .2);
  background: pink;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
}

.lysosome::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 12px;
  width: 2px;
  height: 2px;
  background: red;
  box-shadow: -7px 5px 0 0 red, 0px 8px 0 0 red, 15px -1px 0 0 red, -9px 12px 0 0 red, 5px -1px 0 0 red, 2px 15px 0 0 red, 11px 8px 0 0 red, 2px -8px 0 0 red;
  left: 13px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes floating {
  100% {
    box-shadow: 55px 10px 0 0 red, 5px 5px 0 0 red, 15px 22px 0 0 red, -10px 18px 0 0 red, 35px 34px 0 0 red,
  }
  20% {
    box-shadow: 8px 10px 0 0 red, 7px 5px 0 0 red, 10px 2px 0 0 red, -10px 8px 0 0 red, 8px 6px 0 0 red, 4px 5px 0 0 red;
  }
  0% {
    box-shadow: 8px 10px 0 0 red, 8px 5px 0 0 red, 7px 9px 0 0 red, 2px 3px 0 0 red, 6px 5px 0 0 red, 12px 7px 0 0 red;
    ;
  }
}

.golgi {
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  background: rgb(100, 100, 100);
  width: 2%;
  height: 2%;
  left: 25%;
  top: 25%;
  box-shadow: 4px 15px 0 0 rgb(100, 100, 100), 
  120px 120px 0 0 rgb(100, 100, 100), 
  150px 15px 0 0 rgb(100, 100, 100), 
  150px 40px 0 0 rgb(100, 100, 100), 
  200px 150px 0 0 rgb(100, 100, 100), 
  2px 80px 0 0 rgb(100, 100, 100), 
  100px 190px 0 0 rgb(100, 100, 100), 
  170px 10px 0 0 rgb(100, 100, 100);
  animation: bobble 5s ease-in-out infinite;
  animation-direction: alternate;

}

