/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

section#top {
  position: relative;
  width: 100%;

  background-attachment: fixed;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent url(../eye2.png) no-repeat center center;
  height: 100%;
}

.box2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent url(../eye2S.png) no-repeat center center;
  height: 100%;
}

.facepiece {
  position: absolute;
}

.gurprit {
  width: 20%;
  pointer-events: none;
  transform: translateZ(0);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  top: 120px;
}

.gurprit svg {
  width: 100%;
}

.facepiece {
  webkit-animation: squiggly-anim 0.3s infinite;
  animation: squiggly-anim 0.3s infinite;
}

@keyframes squiggly-anim {
  0% {
    -webkit-filter: url("#squiggly-0");
    filter: url("#squiggly-0");
  }
  25% {
    -webkit-filter: url("#squiggly-1");
    filter: url("#squiggly-1");
  }
  50% {
    -webkit-filter: url("#squiggly-2");
    filter: url("#squiggly-2");
  }
  75% {
    -webkit-filter: url("#squiggly-3");
    filter: url("#squiggly-3");
  }
  100% {
    -webkit-filter: url("#squiggly-4");
    filter: url("#squiggly-4");
  }
}
